.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7ede2; 
  display: flex;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #84a59d;
  
}

.auth-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #84a59d;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f2ea; /* nude pink */
  color: #84a59d; /* nude brown */
  outline: none;
  border: 2px solid #f7ede2; /* set initial border color */
}

.auth-input:focus {
  border-color: #84a59d; /* set the border color to pink */
}

.auth-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #84a59d; /* nude beige */
  color: #f7ede2; /* nude brown */
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.auth-button:hover {
  background-color: #f9f2ea; /* nude pink */
  color: #f6bd60; /* nude beige */
  border: 1px solid #f6bd60; /* nude beige */
}

.auth-button:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px #f7ede2; /* nude pink */
}
.register-link {
  color: #f28482; /* nude brown */
  text-decoration: underline;
  cursor: pointer;
}

.login-link {
  color: #f28482; /* nude brown */
  text-decoration: underline;
  cursor: pointer;
}